@model saavor.Shared.ViewModel.FinancialVm
<table class="table table-bordered manage_report--table" id="financialDataTableExport" width="100%" cellspacing="0">
    <tr>
        <th width="85px">Period</th>
        <th width="110px">KitchenId</th>
        <th width="110px">Number of Orders</th>
        <th style="width:138px;">Discount from Kitchen($)</th>
        <th style="width:132px;">Discount from Saavor($)</th>
        <th style="width:148px;">SubTotal($)</th>
        <th width="110px">Sales Tax($)</th>
        <th width="125px">Delivery Fee($)</th>
        <th width="125px">Tip Amount($)</th>
        <th style="width:157px;">Total Order Amount($)</th>
        <th width="155px">Saavor Charges($)</th>
        <th width="122px">Stripe Fee($)</th>
        <th width="130px">Amount to Customer($)</th>
    </tr>

    @{
        var i = 1;
    }
    @if (Model != null && Model.MonthYearList != null && Model.Data != null && Model.MonthYearList.Count > 0 && Model.Data.Count > 0)
    {
        @foreach (var item in Model.MonthYearList)
        {
            <tr>

                @*<td>

                    @if (!string.IsNullOrEmpty(item.OrderDate))
                    {
                        <span>@item.OrderDate</span>
                    }
                    else
                    {
                        <b>Total</b>
                    }
                </td>*@
                <td colspan="13" style="padding:0">
                    @{
                        var report = Model.Data.Where(x => x.OrderDate == item.OrderDate).ToList();
                    }
                    @if (report != null && report.Count > 0)
                    {
                        @foreach (var row in report)
                         {
                             if (Model.MonthYearList.Count == i)
                             {
                                <tr>
                                    <td style="width:140px;word-break:break-all">
                                        <b>Total</b>
                                    </td>
                                     <td style="width:103px;word-break:break-all">-</td>
                                     <td style="width:160px;word-break:break-all"><b>@row.NumberOfOrders</b></td>
                                     <td style="width:138px;word-break:break-all"><b>@row.Discount</b></td>
                                     <td style="width:132px;word-break:break-all"><b>@row.SaavorDiscount</b></td>
                                     <td style="width:148px;word-break:break-all"><b>@row.SubTotal</b></td>
                                     <td style="width:124px;word-break:break-all"><b>@row.SalesTax</b></td>
                                     <td style="width:145px;word-break:break-all"><b>@row.DeliveryFee</b></td>
                                     <td style="width:141px;word-break:break-all"><b>@row.TipAmount</b></td>
                                     <td style="width:178px;word-break:break-all"><b>@row.TotalAmount</b></td>
                                     <td style="width:178px;word-break:break-all"><b>(@row.ServiceCharge)</b></td>
                                     <td style="width:141px;word-break:break-all"><b>(@row.StripeFee)</b></td>
                                     <td style="width:145px;word-break:break-all"><b>@row.AmountToCustomer</b></td>
                                 </tr>
                                }
                                else
                                {
                                <tr>
                                    <td style="width:140px;word-break:break-all">
                                        <span>@item.OrderDate</span>
                                    </td>
                                    <td style="width:103px;word-break:break-all">@row.KitchenId</td>
                                    <td style="width:103px;word-break:break-all">@row.NumberOfOrders</td>
                                    <td style="width:138px;word-break:break-all">@row.Discount</td>
                                    <td style="width:132px;word-break:break-all">@row.SaavorDiscount</td>
                                    <td style="width:148px;word-break:break-all">@row.SubTotal</td>
                                    <td style="width:124px;word-break:break-all">@row.SalesTax</td>
                                    <td style="width:145px;word-break:break-all">@row.DeliveryFee</td>
                                    <td style="width:141px;word-break:break-all">@row.TipAmount</td>
                                    <td style="width:145px;word-break:break-all">@row.TotalAmount</td>
                                    <td style="width:178px;word-break:break-all">(@row.ServiceCharge)</td>
                                    <td style="width:141px;word-break:break-all">(@row.StripeFee)</td>
                                    <td style="width:145px;word-break:break-all">@row.AmountToCustomer</td>
                                </tr>
                                }
                            }
                    }
                </td>
            </tr>             
            i++;
        }

    }
    else
    {
        <tr>
            <td colspan="13">No record found!</td>
        </tr>
    }
</table>