@model saavor.Shared.ViewModel.KitchenDashboardVm
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/chart/jquery.simple-bar-graph.css?01110101001111" rel="stylesheet" />
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-xl-3 col-md-6">
            <div class="card color-theme text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span class="w-100 float-left roboto-bold font-size-25">@Model.Count.TotalMenus</span>
                            <span class="w-100 float-left roboto-bold font-size-14">Total Menu Items</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="float-right mt-2 mb-2">
                                <span class="material-icons font-size-25"> fastfood</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card color-theme text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span class="w-100 float-left roboto-bold font-size-25">@Model.Count.TotalRevenue</span>
                            <span class="w-100 float-left roboto-bold font-size-14">Total Revenue</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="float-right mt-2 mb-2">
                                <span class="material-icons font-size-25">stacked_line_chart</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card color-theme text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span class="w-100 float-left roboto-bold font-size-25">@Model.Count.TotalOrder</span>
                            <span class="w-100 float-left roboto-bold font-size-14">Total Orders</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="float-right mt-2 mb-2">
                                <span class="material-icons font-size-25">flatware</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card color-theme text-white mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <span class="w-100 float-left roboto-bold font-size-25">@Model.Count.TotalCustomers</span>
                            <span class="w-100 float-left roboto-bold font-size-14">Total Customers</span>
                        </div>
                        <div class="col-3 text-center">
                            <span class="float-right mt-2 mb-2">
                                <span class="material-icons font-size-25">groups</span>
                            </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-sm-12 text-right add_new--account">
            <a asp-action="overview" asp-controller="kitchen">Add New Account</a>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            @using (Html.BeginForm("overview", "dashboard"))
            {
                <div class="grid-search bg-white">
                    <div class="input-group">
                        <input id="search" type="text" class="form-control roboto-regular font-size-14" maxlength="10" name="search" value="@ViewData["CurrentFilter"]" placeholder="Search by Kitchen ID or name">
                        <div class="input-group-append">
                            <button class="btn color-theme color-white" type="submit" id="button-search_kitchen">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
            <div class="table-responsive mt-4 pb-4 bg-white">
                <table class="table table-bordered pb-4" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="10%">Number</th>
                            <th width="20%">Kitchen ID</th>
                            <th width="30%">Kitchen Name</th>
                            <th width="40%">Address</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @if (Model != null && Model.Kitchen != null && Model.Kitchen.Count > 0)
                        {
                            @foreach (var item in Model.Kitchen)
                            {
                                <tr>
                                    <td data-title="Number">@item.RowNumber</td>
                                    <td data-title="Kitchen ID"><a href="/kitchendashboard/overview/@item.ProtectedProfileId/@item.KitchenName" title="detail">@item.KitchenId</a></td>
                                    <td data-title="Kitchen Name">@item.KitchenName</td>
                                    <td data-title="Address">@item.KitchenAddress</td>
                                    <td data-title="Action"><a href="javascript:void(0)" data="@item.ProtectedProfileId" class="delete--action" title="delete">Delete</a></td>
                                </tr>
                                i++;
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No kitchen found!</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pagingDiv" class="float-right pr-3">@Html.Raw(ViewBag.Paging)</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7">
            <div class="card mb-4">
                <div class="card-header bg-white roboto-bold font-size-20">
                    Order Summary
                    <span class="float-right order_summary_top--filter">
                        <span class="filter_active order_summary--filters cursor-pointer" type="Monthly">Monthly</span>
                        <span class="order_summary--filters cursor-pointer" type="Weekly">Weekly</span>
                        <span class="order_summary--filters cursor-pointer" type="Today">Today</span>
                    </span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div id="ordersummary-chart" data-percent="0"></div>
                        </div>
                        <div class="col-6 text-center">
                            <span class="total_order_ roboto-bold font-size-25 w-100 float-left"><span class="total_order">0</span> <span class="text_orders_UPDTE">Orders</span></span>                            <span class="w-100 float-left text-center mt-4">
                                @*<span class="more_detail pl-3 pb-2 pr-3 pt-2">
                More details
            </span>*@
                            </span>
                        </div>
                    </div>

                    <div class="row row mt-5 mb-4">
                        <div class="col-xl-3 col-md-6">
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row_">
                                        <div class="col-12_">
                                            <span class="order-summary_count--container float-left text-center">
                                                <span class="total_count--pickup float-left w-100 roboto-bold font-size-20">0</span>
                                                <span class="total_count--title float-left w-100 roboto-medium color-gray">Pickup</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row_">
                                        <div class="col-12_">
                                            <span class="order-summary_count--container float-left text-center">
                                                <span class="total_count--deleivered float-left w-100 roboto-bold font-size-20">0</span>
                                                <span class="total_count--title float-left w-100 roboto-medium color-gray">Delivered</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row_">
                                        <div class="col-12_">
                                            <span class="order-summary_count--container float-left text-center">
                                                <span class="total_count--cancelled float-left w-100 roboto-bold font-size-20">0</span>
                                                <span class="total_count--title float-left w-100 roboto-medium color-gray">Cancelled</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <div class="row_">
                                        <div class="col-12_">
                                            <span class="order-summary_count--container float-left text-center">
                                                <span class="total_count--rejected float-left w-100 roboto-bold font-size-20">0</span>
                                                <span class="total_count--title float-left w-100 roboto-medium color-gray">Rejected</span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="card mb-4">
                <div class="card-header bg-white roboto-bold font-size-20">
                    Revenue
                    @*<span class="float-right">
                        <select class="chart_dropdown--list">
                            <option value="All">All</option>
                        </select>
                    </span>*@
                </div>
                <div class="card-body">
                    <div id="revenue-chart">Loading...</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loading_container_overlay hide"></div>
<div class="loader_container hide">
    <div class="rainbow">
        <img src="/images/logo.png" alt="">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/chart/jquery.simple-bar-graph.js"></script>
    <script src="~/chart/jquery.circlechart.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/js/jquery-ui-1.11.4.js"></script>
    <script src="~/js/bootstrap-confirm-delete.js"></script>
    <script src="~/js/dashboard.js"></script>

}


