@model List<saavor.Shared.ViewModel.KitchenManageOrderVm>
@{
    ViewData["Title"] = "Manage Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/modal-popup.css" rel="stylesheet" />
<!--   Big container   -->
<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-12 manage-order_menus">
            @*<span class="order_active manage-order_menus--navigation" action="/allorders">All</span>*@
            <span class="manage-order_menus--navigation" action="/orders/new">New</span>
            @*<span class="manage-order_menus--navigation" action="/kitchendashboard/preparationorders">Preparation</span>*@
        <span class="manage-order_menus--navigation" action="/orders/preparing">Preparing</span>
            <span class="manage-order_menus--navigation" action="/orders/pickup">Here for Pick up</span>
            <span class="manage-order_menus--navigation" action="/orders/delivery">Delivery</span>
            <span class="manage-order_menus--navigation" action="/orders/completed">Completed</span>
            <span class="manage-order_menus--navigation" action="/orders/rejected">Rejected</span>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-12 manage-order_count">
            <div class="order_count">
                <span>New</span>
                <span class="badge new_orders--count">0</span>
            </div>
            <div class="order_count">
                <span>Ready</span>
                <span class="badge ready_orders--count">0</span>
            </div>
            <div class="order_count">
                <span>Here for Pick up</span>
                <span class="badge herepickup_orders--count">0</span>
            </div>
            <div class="order_count">
                <span>Delivery</span>
                <span class="badge delivery_orders--count">0</span>
            </div>
            <div class="order_count">
                <span>Completed</span>
                <span class="badge completed_orders--count">0</span>
            </div>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            @using (Html.BeginForm("manageorders", "kitchendashboard"))
            {
                <div class="grid-search bg-white">
                    <div class="input-group">
                        <input id="search" type="text" class="form-control roboto-regular font-size-14" name="search" value="@ViewData["CurrentFilter"]" placeholder="Search by order ID, name, email">
                        <div class="input-group-append">
                            <button class="btn color-theme color-white" type="submit" id="button-search_kitchen">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }

            <div class="table-responsive mt-4 pb-4 bg-white">
                <table class="table table-bordered manage_order--table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Order Status</th>
                            @*<th>Action</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td  data-title="Order ID">@item.OrderId </td>
                                    <td  data-title="Order Date">@item.OrderDate</td>
                                    <td  data-title="User Name">@item.UserName</td>
                                    <td  data-title="User Email"> @item.UserEmail</td>
                                    <td  data-title="Order Status">
                                        <span class="@Convert.ToString(@item.OrderStatus).Replace(" ","_").ToLowerInvariant()">
                                            @item.OrderStatus
                                        </span>
                                    </td>
                                    @*<td>
                                            @if (@Convert.ToString(@item.OrderStatus).ToLowerInvariant() == "delivered")
                                            {
                                                <i class="fa fa-info-circle cursor-pointer" data="@item.FoodOrderId" onclick="onLoadOrderInvoice(this)" aria-hidden="true"></i>

                                            }
                                        </td>*@
                                </tr>
                                i++;
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No order found!</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pagingDiv" class="float-right pr-3">@Html.Raw(ViewBag.Paging)</div>
            </div>
        </div>
    </div>
</div> <!--  big container -->
<div class="loading_container_overlay hide"></div>
<div class="loader_container hide">
    <div class="rainbow">
        <img src="/images/logo.png" alt="">
    </div>
</div>
<div id="orderInvoice" class="modal">
    <div class="modal-content animate">
        <div class="container invoice--info">
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/manage-order.js"></script>
}