@model List<saavor.Shared.ViewModel.KitchenOrdersVm>
@{
    ViewData["Title"] = "Manage Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/modal-popup.css" rel="stylesheet" />
<style>
    .modal-content { width: 50% !important;}
    .modal{z-index:99999 !important}
</style>
<!--   Big container   -->
<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-12 manage-order_menus">
            @*<span class="manage-order_menus--navigation" action="/allorders">All</span>*@
            <span class="order_active manage-order_menus--navigation" action="/orders/new">New</span>
            @*<span class="manage-order_menus--navigation" action="/kitchendashboard/preparationorders">Preparation</span>*@
        <span class="manage-order_menus--navigation" action="/orders/preparing">Preparing</span>
            <span class="manage-order_menus--navigation" action="/orders/pickup">Here for Pick up</span>
            <span class="manage-order_menus--navigation" action="/orders/delivery">Delivery</span>
            <span class="manage-order_menus--navigation" action="/orders/completed">Completed</span>
            <span class="manage-order_menus--navigation" action="/orders/rejected">Rejected</span>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            @using (Html.BeginForm("neworders", "kitchendashboard"))
            {
                <div class="grid-search bg-white">
                    <div class="input-group">
                        <input id="search" type="text" class="form-control roboto-regular font-size-14" name="search" value="@ViewData["CurrentFilter"]" placeholder="Search by order ID, name, email">
                        <div class="input-group-append">
                            <button class="btn color-theme color-white" type="submit" id="button-search_kitchen">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            }
        <div class="manage_order--table mt-4">
            <span class="delivered cursor-pointer" onclick="onUpdateStatusAll(this)">Accept</span>
            <span class="cancelled cursor-pointer" onclick="onRejectOrder(this,'Reject All')"> Reject</span>
            <br />
        </div>
            <div class="table-responsive mt-4 pb-4 bg-white">
                <table class="table table-bordered manage_order--table manage_order--grid custom-responsive_grid" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="8%">
                                <input type="checkbox" class="kitchen-request" id="header-checkbox" />
                                <label class="grid-checl_label" for="header-checkbox"></label>
                            </th>
                            <th width="8%">Order ID</th>
                            <th width="13%">Order Date</th>
                            <th width="15%">User Name</th>
                            <th width="15%">User Email</th>
                            <th>Order Detail</th>
                            <th>Quantity</th>
                            <th width="14%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="select-item" id="@item.FoodOrderId" />
                                        <label class="grid-checl_label" for="@item.FoodOrderId"></label>
                                    </td>
                                    <td data-title="Order ID">@item.OrderId</td>
                                    <td data-title="Order Date">@item.OrderDate</td>
                                    <td data-title="User Name">@item.UserName</td>
                                    <td data-title="User Email">@item.UserEmail</td>
                                    @if (item.OrderDishes != null && item.OrderDishes.Count > 0)
                                    {
                                        <td data-title="Order Detail">
                                            @foreach (var dishe in item.OrderDishes)
                                            {
                                                <span class="order--dishes">
                                                    &#9679;
                                                    @dishe.DishName
                                                </span>
                                            }
                                        </td>
                                        <td data-title="Quantity">

                                            @foreach (var dishe in item.OrderDishes)
                                            {
                                                <span class="order--dishes">@dishe.Quantity</span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td data-title="Order Detail"></td>
                                        <td data-title="Quantity"></td>
                                    }

                                    <td width="14%" data-title="Action">
                                        <span class="delivered cursor-pointer" style="width: 85px; margin-bottom: 10px" data="@item.FoodOrderId" delivery="@item.IsDelivery" onclick="onUpdateStatus(this)">Accept</span><br class="break-point" />
                                        <span class="cancelled cursor-pointer" style="width:85px;" data="@item.FoodOrderId" delivery="@item.IsDelivery" onclick="onRejectOrder(this,'Reject')"> Reject</span>
                                    </td>
                                </tr>
                                i++;
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No order found!</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pagingDiv" class="float-right pr-3">@Html.Raw(ViewBag.Paging)</div>
            </div>
        </div>
    </div>
</div> <!--  big container -->
<div class="loading_container_overlay hide"></div>
<div class="loader_container hide">
    <div class="rainbow">
        <img src="/images/logo.png" alt="">
    </div>
</div>
<div id="rejectOrder" class="modal">
    <div class="modal-content animate">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-12">
                        <span class="float-left roboto-bold font-size-20"> What is the reason for cancel this order?</span>
                        <span onclick="document.getElementById('rejectOrder').style.display='none'" class="close" title="close">×</span>
                    </div>
                </div>
                <div class="row mt-4 mb-3">
                    <div class="col-12">
                            <div class="input-group">
                                <div class="form-group w-50">
                                    <label class="control-label w-100">Select reason</label>
                                    <select class="order-rejected--reason w-100">
                                        <option value="Sold out of food item, please re-order">Sold out of food item, please re-order</option>
                                        <option value="Service closed">Service closed</option>
                                        <option value="Out of Stock">Out of Stock</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="other_reason--container hide">
                                       <div class="row">
                                           <div class="col-10">
                                               <input type="text" id="inputOrderRejectReason" maxlength="100" autocomplete="off" spellcheck="false" autocapitalize="none" class="form-control">
                                           </div>
                                           <div class="col-2">
                                               <span class="delivered cursor-pointer close-order--reason">x</span>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <input type='submit' class='reject-order' name='next' value='Ok' />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/manage-order.js"></script>
}