@model List<saavor.Shared.ViewModel.KitchenOrdersVm>
@{
    ViewData["Title"] = "Manage Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--   Big container   -->
<div class="container-fluid">
    <div class="row mt-4 mb-4">
        <div class="col-12 manage-order_menus">
            @*<span class="manage-order_menus--navigation" action="/allorders">All</span>*@
            <span class="manage-order_menus--navigation" action="/orders/new">New</span>
            <span class="order_active manage-order_menus--navigation" action="/kitchendashboard/preparationorders">Preparation</span>
            <span class="manage-order_menus--navigation" action="/orders/preparing">Preparing</span>
            <span class="manage-order_menus--navigation" action="/orders/pickup">Here for Pick up</span>
            <span class="manage-order_menus--navigation" action="/orders/delivery">Delivery</span>
            <span class="manage-order_menus--navigation" action="/orders/completed">Completed</span>
            <span class="manage-order_menus--navigation" action="/orders/rejected">Rejected</span>
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            @using (Html.BeginForm("preparationorders", "kitchendashboard"))
            {
                <div class="grid-search bg-white">
                    <div class="input-group">
                        <input id="search" type="text" class="form-control roboto-regular font-size-14" name="search" value="@ViewData["CurrentFilter"]" placeholder="Search by order ID, name, email">
                        <div class="input-group-append">
                            <button class="btn color-theme color-white" type="submit" id="button-search_kitchen">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }

            <div class="table-responsive mt-4 pb-4 bg-white">
                <table class="table table-bordered manage_order--table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="8%">Order ID</th>
                            <th width="13%">Order Date</th>
                            <th width="15%">User Name</th>
                            <th width="15%">User Email</th>
                            <th>Order Detail</th>
                            <th>Quantity</th>
                            <th width="14%">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var i = 1;
                        }
                        @if (Model != null && Model.Count > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td data-title="Order ID">
                                        @item.OrderId
                                        <input type="hidden" value="@item.FoodOrderId" />
                                    </td>
                                    <td data-title="Order Date">@item.OrderDate</td>
                                    <td data-title="User Name">@item.UserName</td>
                                    <td data-title="User Email">@item.UserEmail</td>
                                    @if (item.OrderDishes != null && item.OrderDishes.Count > 0)
                                    {
                                        <td data-title="Order Detail">
                                            @foreach (var dishe in item.OrderDishes)
                                            {
                                                <span class="order--dishes">
                                                    &#9679;
                                                    @dishe.DishName
                                                </span>
                                            }
                                        </td>
                                        <td data-title="Quantity">

                                            @foreach (var dishe in item.OrderDishes)
                                            {
                                                <span class="order--dishes">@dishe.Quantity</span>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td data-title="Order Detail"></td>
                                        <td data-title="Quantity"></td>
                                    }
                                        <td data-title="Action" width="14%">
                                            <span class="delivered cursor-pointer" style="width:85px;" data="@item.FoodOrderId" onclick="onUpdateStatus(this)">Ready</span>
                                        </td>
                                </tr>
                                i++;
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">No order found!</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="pagingDiv" class="float-right pr-3">@Html.Raw(ViewBag.Paging)</div>
            </div>
        </div>
    </div>
</div> <!--  big container -->
<div class="loading_container_overlay hide"></div>
<div class="loader_container hide">
    <div class="rainbow">
        <img src="/images/logo.png" alt="">
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/manage-order.js"></script>
}